@charset "UTF-8";

html, body {
	margin:0;
	padding:0;
	background:#2d2d6d;
	font:14px / 1.5 Verdana;
}

.page {
	position:relative;
	max-width:1400px;
	margin:0 auto;
	margin-top:100px;
	/*background-color:#2d2d6d;*/

	/*-webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);
	   -moz-box-shadow:0 0 4px rgba(0,0,0,0.3);
	    -ms-box-shadow:0 0 4px rgba(0,0,0,0.3);
	     -o-box-shadow:0 0 4px rgba(0,0,0,0.3);
	        box-shadow:0 0 4px rgba(0,0,0,0.3);*/
}

.logo-container {
	position:fixed;
	max-width:1400px;
	margin:0 auto;
	top:50%;
	left:50%;
	margin-top:-130px;
	margin-left:-150px;
	/*background-color:#2d2d6d;*/

	/*-webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);
	   -moz-box-shadow:0 0 4px rgba(0,0,0,0.3);
	    -ms-box-shadow:0 0 4px rgba(0,0,0,0.3);
	     -o-box-shadow:0 0 4px rgba(0,0,0,0.3);
	        box-shadow:0 0 4px rgba(0,0,0,0.3);*/
}

.content {
	margin:20px auto;
	margin-bottom:20px;
	background-color:#fff;
	padding:20px;
	max-width:400px;

	-webkit-box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
	-ms-box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
	-o-box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

.logo a {
	display:block;
	margin:0 auto;
	width:260px;
	height:300px;
	background:url('../images/phatmojo.jpg') no-repeat;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%;
}

.logo a {
	overflow:hidden;
	text-indent:-99999em;
}

.hide-text {
	overflow:hidden;
	text-indent:-9999em;
}

.center {
	text-align:center;
}

a {
    font-size:25px;
    color:black;
    text-decoration:none;
    font-family:"Verdana";
    font-style:normal;
}

a:hover
{
     cursor:pointer;
     text-decoration:underline;
}

.footer {
	font-size:12px;
	color:#888;
	text-align:center;
}
